<div class="row about_page">
  <div class="col-xs-12 m-t-lg m-b-lg form_container">
    <div class="b-t-md">
      <div class="col-xs-10 col-xs-offset-1 bold-title">
        <h4 class="text-center">About</h4>
      </div>
    </div>
  </div>

  <div class="about col-xs-10 col-xs-offset-1">
    <p class="about_banner">
      <span class="about_span">TANDEM ARBOR</span> is an independent lifestyle e-commerce site for highly curated
      home furnishings and designs catering to the higher end luxury market. Focused on true mid to high end products
      with engaging content from in-house designers across multiple product categories. Tandem Arbor is a one-stop
      shop for all home decor with a focused niche on providing superb customer service. Tandem Arbor is constantly
      exploring the development of high-end sub-brands and exclusive arrangements with premier vendors, to further
      penetrate the luxury market.
    </p>

    <p class="about_banner">
      <span class="about_span">ARBOR GENTRY</span> is the parent company of Tandem Arbor. It is the next-generation
      digital partner that has developed a unique solution for online retailing, providing sourcing, operational,
      innovative tech solutions, and marketing support. Our turnkey programs increases revenue, streamlines inventory
      & fulfillment channels, and creates interactive on-site marketing initiatives driving customer engagement.
      Arbor Gentry is the powerhouse behind Tandem Arbor, ensuring satisfaction among all parties.
    </p>

    <div class="links">
      <a href="http://www.tandemarbor.com" class="btn-submit-app link_tandemarbor"><span class="link_style">www.</span>TANDEMARBOR<span class="link_style">.com</span></a>
      <a href="http://www.arborgentry.com" class="btn-submit-app link_arborgentry"><span class="link_style">www.</span>ARBORGENTRY<span class="link_style">.com</span></a>
    </div>
  </div>

  <div class="col-xs-12 m-t-lg m-b-lg form_container">
    <div class="b-t-md">
      <div class="col-xs-10 col-xs-offset-1 bold-title">
        <h4 class="text-center">Offerings</h4>
      </div>
    </div>
  </div>

  <div class="offerings col-xs-10 col-xs-offset-1">
    <h4 class="title_offerings">TANDEM ARBOR TAKES <span class="about_span">CUSTOMER SERVICE</span> VERY SERIOUSLY - BOTH FOR OUR CUSTOMERS AND OUR SUPPLIERS</h4>

    <p class="about_banner"><span class="about_span">SUPPLIERS</span></p>

    <p class="about_banner">
      For our vendors, Arbor Gentry functions as your customer service. Arbor Gentry is responsive to any issues
      with build-sheets, accounting, products, packaging and/or shipping. Furthermore, Arbor Gentry holds a strict
      policy regarding iMAP pricing as they advertise, display, promote and sell product on the sites. In addition,
      as a vendor, you can elect to institute customized shipping and return options. Also, if elected, Arbor Gentry
      facilitates a return policy for our customers by accepting returns to its affiliated brick-and-mortar outlet stores.
    </p>

    <div class="about_customers">
      <p class="about_banner"><span class="about_span">CUSTOMERS</span></p>

      <p class="about_banner">
        The website has been developed to be very user friendly and is catered toward helping customer develop
        their own style. A few perks include curated products that are displayed according to the latest trends, fully
        designed room settings where one can easily buy the entire room or their favorite part of the room with just
        a few clicks, and integrated horizontal sliders on the home page to allow users to quickly see their product
        selection side by side.
      </p>

      <p class="about_banner">
        Then, to take it one step further, we are developing an in-house team that will function as our “Very Personal
        Decorators”. For a small fee, our Very Personal Decorators will help put it all together - they’ll pick the absolute
        best design, color and style for whatever the customers’ needs are.
      </p>

      <p class="about_banner">
        Free shipping on all orders is offered to our customers. We also offer White Glove Delivery service for a fee.
        And customers can make returns, even if its buyers remorse. It’s a perk that we think goes a long way! Plus
        there are all sorts of personal touches that are included with each purchase.
      </p>

      <p class="about_banner">
        To ensure satisfaction, we guarantee delivery of merchandise to be free of manufacturing defects and will
        accept any defective item for refund or exchange.
      </p>
    </div>

    <h4 class="title_offerings">TANDEM ARBOR IS ON TREND AND ANALYTICALLY PROACTIVE WITH THEIR <span class="about_span">MARKETING</span> TECHNIQUE</h4>

    <p class="about_banner"><span class="about_span">MARKETING</span></p>

    <p class="about_banner">
      As the world becomes more and more digital, retail marketers have an opportunity to accurately measure the
      competitive landscape and rate the effectiveness of various digital content strategies. In turn, we are able to
      pick-up on market trends and patterns quickly, consult the data and instantaneously bring those trends to the
      masses through our editorial content and targeted promotions. The Tandem Arbor brand will be communicated
      to customers through all effective channels, including online search marketing, retail and digital catalogs, email
      marketing, affiliate marketing and social media marketing. Our core marketing objectives are structured to
      drive awareness and differentiation of our brands, increase new customer acquisition, maintain our customer
      retention, build our customer base, increase our customer loyalty, and drive brand awareness internationally.
    </p>
  </div>


  <div class="col-xs-12 m-t-lg m-b-lg form_container">
    <div class="b-t-md">
      <div class="col-xs-10 col-xs-offset-1 bold-title">
        <h4 class="text-center">Policies</h4>
      </div>
    </div>
  </div>

  <div class="policies col-xs-10 col-xs-offset-1">
    <p class="about_banner">
      <span class="about_span">RETURNS.</span> As the world becomes more and more digital, retail marketers have an
      opportunity to accurately measure the competitive landscape and rate the effectiveness of various digital content
      strategies.
    </p>

    <p class="about_banner">
      <span class="about_span">INSURANCE.</span> As the world becomes more and more digital, retail marketers have an
      opportunity to accurately measure the competitive landscape and rate the effectiveness of various digital
      content strategies.
    </p>

    <p class="about_banner">
      <span class="about_span">WARRANTIES.</span> As the world becomes more and more digital, retail marketers have an
      opportunity to accurately measure the competitive landscape and rate the effectiveness of various digital
      content strategies.
    </p>

    <p class="about_banner">
      <span class="about_span">SHIPPING PROCEDURE.</span> As the world becomes more and more digital, retail marketers
      have an opportunity to accurately measure the competitive landscape and rate the effectiveness of various digital
      content strategies.
    </p>
  </div>

  <div class="col-xs-12 m-t-lg m-b-lg form_container">
    <div class="b-t-md">
      <div class="col-xs-10 col-xs-offset-1 bold-title">
        <h4 class="text-center">Billing Procedures</h4>
      </div>
    </div>
  </div>
  <div class="procedures col-xs-10 col-xs-offset-1">
    <p class="about_banner">
      For our vendors, Arbor Gentry functions as your customer service. Arbor Gentry is responsive to any issues
      with build-sheets, accounting, products, packaging and/or shipping. Furthermore, Arbor Gentry holds a strict
      policy regarding iMAP pricing as they advertise, display, promote and sell product on the sites. In addition,
      as a vendor, you can elect to institute customized shipping and return options. Also, if elected, Arbor Gentry
      facilitates a return policy for our customers by accepting returns to its affiliated brick-and-mortar outlet stores.
    </p>
  </div>

</div>