<div class="row product_categories_page">
  <div class="col-xs-12 m-t-lg m-b-lg form_container">
    <div class="b-t-md">
      <div class="col-xs-10 col-xs-offset-1 bold-title">
        <h4 class="text-center">Product Categories</h4>
      </div>
    </div>
  </div>
  <div class="lists col-xs-10 col-xs-offset-1">
    <div class="list">
      <span class="list_title">FURNITURE</span>
      <ul class="list_level_1">
        <li class="li_style_type_not">
          <ul class="list_level_2">
            <li class="li_style_type_not">SEATING
              <ul class="list_level_3">
                <li>SOFAS & LOVESEATS</li>
                <li>SECTIONALS</li>
                <li>SLEEPERS & DAYBEDS</li>
                <li>ACCENT CHAIRS</li>
                <li>DINING CHAIRS</li>
                <li>DESK CHAIRS</li>
                <li>CHAISES, SETTEES</li>
                <li>BENCHES, OTTOMANS & POUFS</li>
                <li>BAR & COUNTER</li>
                <li>STOOLS</li>
              </ul>
            </li>
            <li class="li_style_type_not">SHELVING & CABINETS
              <ul>
                <li>ARMOIRES & CABINETS</li>
                <li>BAR STORAGE & CARTS</li>
                <li>SIDEBOARDS & HUTCHES</li>
                <li>MEDIA CONSOLES</li>
                <li>SHELVES & BOOKCASES</li>
              </ul>
            </li>
            <li class="li_style_type_not">TABLES
              <ul>
                <li>DINING TABLES</li>
                <li>BAR & COUNTER TABLES</li>
                <li>COCKTAIL & COFFEE TABLES</li>
                <li>CONSOLE TABLES</li>
                <li>SIDE TABLES</li>
                <li>TRUNKS</li>
                <li>DESKS</li>
              </ul>
            </li>
            <li class="li_style_type_not">BEDROOM FURNITURE
              <ul>
                <li>BED FRAMES</li>
                <li>HEADBOARDS</li>
                <li>MATTRESSES</li>
                <li>NIGHTSTANDS</li>
                <li>DRESSERS</li>
              </ul>
            </li>
            <li class="li_style_type_not">BATH FURNITURE
              <ul>
                <li>ÉTAGÈRES & CABINETS</li>
                <li>MIRRORS</li>
                <li>VANITIES & SINKS</li>
                <li>TUBS</li>
              </ul>
            </li>
            <li class="li_style_type_not">OFFICE FURNITURE
              <ul>
                <li>DESKS</li>
                <li>CHAIRS</li>
                <li>OFFICE STORAGE</li>
              </ul>
            </li>
            <li class="li_style_type_not">OUTDOOR FURNITURE
              <ul>
                <li>SOFAS & LOVESEATS</li>
                <li>SECTIONALS</li>
                <li>LOUNGERS</li>
                <li>ACCENT CHAIRS</li>
                <li>COFFEE TABLES</li>
                <li>DINING CHAIRS</li>
                <li>DINING & BAR TABLES</li>
                <li>STOOLS</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="list">
      <span class="list_title">KITCHEN & TABLETOP</span>
      <ul class="list_level_1">
        <li class="li_style_type_not">
          <ul class="list_level_2">
            <li class="li_style_type_not">APPLIANCES
              <ul class="list_level_3">
                <li>REFRIGERATOR</li>
                <li>OVENS</li>
                <li>COOKTOPS</li>
                <li>RANGES</li>
                <li>DISHWASHERS</li>
                <li>HOODS</li>
                <li>FITTINGS</li>
              </ul>
            </li>
            <li class="li_style_type_not">ACCESSORIES
              <ul>
                <li>STEP STOOLS + LADDERS</li>
                <li>KNOBS & HANDLES</li>
                <li>STORAGE</li>
                <li>TRASHCANS</li>
              </ul>
            </li>
            <li class="li_style_type_not">COOKWARE, BAKEWARE & TOOLS
              <ul>
                <li>CUTLERY & PREP</li>
                <li>BAKEWARE</li>
                <li>POTS & PANS</li>
                <li>COOKING TOOLS</li>
                <li>CANISTERS & JARS</li>
                <li>DISH TOWELS, APRONS & MITTS</li>
                <li>GOURMET</li>
              </ul>
            </li>
            <li class="li_style_type_not">TABLETOP
              <ul>
                <li>PLATES</li>
                <li>BOWLS</li>
                <li>MUGS & CUPS</li>
                <li>STEMWARE</li>
                <li>GLASSWARE</li>
                <li>FLATWARE</li>
              </ul>
            </li>
            <li class="li_style_type_not">SERVEWARE
              <ul>
                <li>PLATTERS & TRAYS</li>
                <li>COFFEE & TEA</li>
                <li>SALT & PEPPER</li>
                <li>SERVING BOWLS</li>
                <li>SERVING UTENSILS</li>
                <li>PITCHERS & JUGS</li>
                <li>CHEESE BOARDS</li>
              </ul>
            </li>
            <li class="li_style_type_not">ENTERTAINING
              <ul>
                <li>COCKTAIL PLATES</li>
                <li>COASTERS</li>
                <li>CHARGERS</li>
                <li>SERVING TRAYS</li>
                <li>ACCESSORIES</li>
              </ul>
            </li>
            <li class="li_style_type_not">TABLE LINENS
              <ul>
                <li>NAPKINS</li>
                <li>PLACEMATS</li>
                <li>TABLECLOTHS & RUNNERS</li>
                <li>NAPKIN RINGS</li>
              </ul>
            </li>
            <li class="li_style_type_not">BARWARE
              <ul>
                <li>COCKTAIL GLASSES</li>
                <li>PITCHERS & DECANTERS</li>
                <li>BAR ACCESSORIES</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="list">
      <span class="list_title">DÉCOR</span>
      <ul class="list_level_1">
        <li class="li_style_type_not">
          <ul class="list_level_2">
            <li class="li_style_type_not">OBJECTS
              <ul class="list_level_3">
                <li>BOOKENDS</li>
                <li>BOOKS</li>
                <li>CANDLES & CANDLE HOLDERS</li>
                <li>CLOCKS</li>
                <li>FRAMES</li>
                <li>LETTERS & NUMBERS</li>
                <li>OBJECTS</li>
                <li>VASES</li>
                <li>VESSELS & TRAYS</li>
              </ul>
            </li>
            <li class="li_style_type_not">MIRRORS
              <ul>
                <li>FLOOR MIRRORS</li>
                <li>WALL MIRRORS</li>
              </ul>
            </li>
            <li class="li_style_type_not">WINDOWS
              <ul>
                <li>DRAPERY</li>
                <li>SHADES</li>
                <li>BLINDS</li>
                <li>HARDWARE</li>
              </ul>
            </li>
            <li class="li_style_type_not">OFFICE & STORAGE
              <ul>
                <li>BASKETS & TOTES</li>
                <li>SHELVING</li>
                <li>DESK ACCESSORIES</li>
                <li>BOXES</li>
              </ul>
            </li>
            <li class="li_style_type_not">WALL DÉCOR
              <ul>
                <li>ARTWORK</li>
                <li>WALL CARVINGS/PLAQUES</li>
                <li>DISPLAY SHELVES</li>
              </ul>
            </li>
            <li class="li_style_type_not">HEARTH
              <ul>
                <li>SCREENS</li>
                <li>TOOLS & ACCESSORIES</li>
              </ul>
            </li>
            <li class="li_style_type_not">PILLOWS & THROWS
              <ul>
                <li>PILLOWS</li>
                <li>PILLOW INSERTS</li>
                <li>THROWS</li>
              </ul>
            </li>
            <li class="li_style_type_not">SMALL FURNITURE
              <ul>
                <li>BAR CARTS</li>
                <li>COAT RACKS</li>
                <li>LUGGAGE RACKS</li>
                <li>LADDERS & SCREENS</li>
                <li>WALL SHELVING</li>
              </ul>
            </li>
            <li class="li_style_type_not">HARDWARE
              <ul>
                <li>DOORBELLS</li>
                <li>HINGES & LATCHES</li>
                <li>HOOKS</li>
                <li>KNOBS</li>
                <li>KNOCKERS</li>
                <li>MAILBOXES</li>
                <li>NUMBERS</li>
                <li>PULLS, HANDLES & KNOBS</li>
                <li>REGISTER COVERS</li>
                <li>SWITCH PLATES</li>
              </ul>
            </li>
            <li class="li_style_type_not">FABRIC BY THE YARD
              <!--<ul>-->
              <!--<li></li>-->
              <!--</ul>-->
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="list">
      <span class="list_title">OUTDOOR</span>
      <ul class="list_level_1">
        <li class="li_style_type_not">
          <ul class="list_level_2">
            <li class="li_style_type_not">OUTDOOR FURNITURE
              <ul class="list_level_3">
                <li>SOFAS & LOVESEATS</li>
                <li>SECTIONALS</li>
                <li>LOUNGERS</li>
                <li>ACCENT CHAIRS</li>
                <li>COFFEE TABLES</li>
                <li>DINING CHAIRS</li>
                <li>DINING & BAR TABLES</li>
                <li>STOOLS</li>
              </ul>
            </li>
            <li class="li_style_type_not">OUTDOOR DÉCOR
              <ul>
                <li>FOUNTAINS</li>
                <li>GARDEN OBJECTS</li>
                <li>TOPIARIES</li>
                <li>URNS & PEDESTALS</li>
              </ul>
            </li>
            <li class="li_style_type_not">FIRE & HEAT
              <ul>
                <li>FIREPLACE & PITS</li>
                <li>FIRE ACCESSORIES</li>
                <li>OUTDOOR HEATERS</li>
                <li>FIRE & HEAT COVERS</li>
                <li>GRILLS & OVENS</li>
              </ul>
            </li>
            <li class="li_style_type_not">OUTDOOR LIGHTING
              <ul>
                <li>PENDANTS</li>
                <li>SCONCES</li>
                <li>FLUSHMOUNTS</li>
                <li>STRING LIGHTS</li>
              </ul>
            </li>
            <li class="li_style_type_not">UMBRELLAS
              <ul>
                <li>UMBRELLAS</li>
                <li>UMBRELLA STANDS</li>
                <li>UMBRELLA COVERS</li>
              </ul>
            </li>
            <li class="li_style_type_not">OUTDOOR ACCESSORIES
              <ul>
                <li>COVERS</li>
                <li>CUSHIONS</li>
                <li>PILLOWS</li>
                <li>PLANTERS</li>
                <li>DOORMATS</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="list">
      <span class="list_title">BED & BATH</span>
      <ul class="list_level_1">
        <li class="li_style_type_not">
          <ul class="list_level_2">
            <li class="li_style_type_not">BED LINENS
              <ul class="list_level_3">
                <li>DUVET COVERS & SHAMS</li>
                <li>SHEETING</li>
                <li>QUILTS & COVERLETS</li>
              </ul>
            </li>
            <li class="li_style_type_not">BEDDING ACCESSORIES
              <ul>
                <li>THROWS & BLANKETS</li>
                <li>PILLOW INSERTS</li>
                <li>DECORATIVE PILLOWS</li>
              </ul>
            </li>
            <li class="li_style_type_not">BATH LINENS
              <ul>
                <li>TOWELS</li>
                <li>BATH RUGS</li>
                <li>SHOWER CURTAINS</li>
              </ul>
            </li>
            <li class="li_style_type_not">BATH FITTINGS
              <ul>
                <li>WALL MOUNTED HARDWARE</li>
                <li>VANITIES & WALL SHELVES</li>
                <li>KNOBS, HOOKS & PULLS</li>
                <li>FAUCETS & FITTINGS</li>
              </ul>
            </li>
            <li class="li_style_type_not">BATH ACCESSORIES
              <ul>
                <li>COUNTERTOP ACCESSORIES</li>
                <li>COUNTERTOP MIRRORS</li>
                <li>BATH STORAGE</li>
                <li>SHOWER BASKETS</li>
                <li>SOAP & LOTION COLLECTIONS</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="list">
      <span class="list_title">LIGHTING</span>
      <ul class="list_level_1">
        <li class="li_style_type_not">
          <ul class="list_level_2">
            <li class="li_style_type_not">CEILING
              <ul class="list_level_3">
                <li>CHANDELIERS</li>
                <li>PENDANTS</li>
                <li>FLUSHMOUNTS</li>
                <li>CEILING FANS</li>
              </ul>
            </li>
            <li class="li_style_type_not">LAMPS
              <ul>
                <li>FLOOR LAMPS</li>
                <li>TABLE LAMPS</li>
              </ul>
            </li>
            <li class="li_style_type_not">WALL
              <ul>
                <li>WALL SCONCES</li>
                <li>BATH SCONCES</li>
                <li>PICTURE LIGHTS</li>
              </ul>
            </li>
            <li class="li_style_type_not">OUTDOOR
              <ul>
                <li>OUTDOOR PENDANTS</li>
                <li>OUTDOOR SCONCES</li>
                <li>OUTDOOR FLUSHMOUNTS</li>
                <li>STRING LIGHTS</li>
              </ul>
            </li>
            <li class="li_style_type_not">LIGHTING ACCESSORIES
              <ul>
                <li>SHADES</li>
                <li>LIGHTBULBS</li>
                <li>SWITCH PLATES</li>
                <li>LIT DÉCOR</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="list">
      <span class="list_title">RUGS</span>
      <ul class="list_level_1">
        <li class="li_style_type_not">
          <ul class="list_level_2">
            <li class="li_style_type_not">RUGS BY STYLE
              <ul class="list_level_3">
                <li>HIDES, SKINS & LEATHER</li>
                <li>NATURAL FIBER, SISAL & TEXTURE</li>
                <li>PATTERN</li>
                <li>SHAG</li>
                <li>SOLIDS</li>
                <li>SILK</li>
                <li>FLATWEAVE</li>
                <li>ANTIQUE & VINTAGE</li>
                <li>RUG ACCESSORIES</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="list">
      <span class="list_title"></span>
      <ul class="list_level_1">
        <li class="li_style_type_not">
          <ul class="list_level_2">
            <li class="li_style_type_not">
              <ul class="list_level_3">
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>

</div>