<div>
  <div class="banner">
    <h2 class="banner">Thank You!</h2>
    <p class="content">
      Thank you for your submission to our TRADE OR VENDOR program!
      We will review your application and contact you shortly with more information.
    </p>
    <p class="content">
      For any additional inquiries, please contact us at
      <a href="mailto: trade@tandemarbor.com" class="mail_static_page">trade@tandemarbor.com</a>
    </p>
  </div>
</div>