<div class="row ta-Footer">
  <div class="col-md-2 col-sm-12">
    <%= image_tag("avant-logo.jpg", :alt => "img") %>
  </div>
  <div class="col-md-2 col-sm-12 ta-FooterListColumn">
    <h1>Let Us Help You</h1>
    <ul>
      <li><a href="tel:8003064504">800 306 4504</a></li>
      <li><a href="http://tandemarbor.com/community/contact">Contact Us</a></li>
      <li><a href="http://tandemarbor.com/pages/customer-service/#order-tracking">Order Tracking</a></li>
      <li><a href="http://tandemarbor.com/pages/customer-service/#shipping-delivery">Shipping & Delivery</a></li>
      <li><a href="http://tandemarbor.com/pages/customer-service/#returns-exchanges">Returns & Exchanges</a></li>
      <li><a href="http://tandemarbor.com/pages/factory-old">Factory</a></li>
      <li><a href="http://tandemarbor.com/pages/curate-old">Curate</a></li>
    </ul>
  </div>
  <div class="col-md-2 col-sm-12 ta-FooterListColumn">
    <h1>Our Company</h1>
    <ul>
      <li><a href="http://tandemarbor.com/pages/about-us">About Tandem Arbor</a></li>
      <li><a href="http://tandemarbor.com/pages/about-us/#financing">Financing</a></li>
      <li><a href="http://tandemarbor.com/pages/about-us/#careers">Careers</a></li>
      <li><a href="http://tandemarbor.com/pages/terms-of-use">Terms of Use</a></li>
      <li><a href="http://tandemarbor.com/pages/about-us/#investors">Investor Relations</a></li>
    </ul>
  </div>
  <div class="col-md-2 col-sm-12 ta-FooterListColumn">
    <h1>Resources</h1>
    <ul>
      <li><a href="http://tandemarbor.com/pages/measuring-guide">Measuring Guide</a></li>
      <li><a href="http://www.tandemarbor.com/vpd">Very Personal Decorator</a></li>
      <li><a href="http://tandemarbor.com/">Retail Licensing Program</a></li>
      <li><a href="http://arborgentry.herokuapp.com/vendors/sign_up">Become A Vendor</a></li>
      <li><a href="http://tandemarbor.com/pages/trade-only">Trade Program</a></li>
      <li><a href="http://design.tandemarbor.com/">Design Services</a></li>
    </ul>
  </div>
  <!--<div class="col-md-4 col-sm-12 ta-FooterListColumn">-->
    <!--<h1>Like Being First?</h1>-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--MAILCHIMP MAILER-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--Get To Know Us-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
<div class="row ta-SubFooter">
  <ul>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Privacy Policy</a></li>
    <li><a href="">Site Map</a></li>
    <li><a href="">&copy; 2016 Arbor Gentry, LLC</a></li>
  </ul>
</div>