<div class="row ta-CustomerNav">
  <div class="col-md-6 col-sm-12 ta-CustomerNavLeft">
    <ul class="ta-CustomerMenu">
      <li><a href="">Customer Service</a></li>
      <li><a href="">About</a></li>
      <li><a href="https://www.tandemarbor.com">Return to TandemArbor.com</a></li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12 ta-CustomerNavRight">
    <ul class="ta-CustomerMenu">
      <li><a href="">Avant Blog</a></li>
      <li><a href="">Very Personal Decorator</a></li>
      <li><a href="">Factory</a></li>
      <li><a href="">Curate</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 ta-HeaderLogo">
    <a href="/">
      <img style="width: 277px; height: 88px;" id="logoImg" src="https://tandemarbor.azureedge.net/navigationimages/logo-stopped.png" data-status="still" alt="" />
    </a>
  </div>
</div>
<div class="row ta-PrimaryNavigation">
  <div class="col-md-6 col-sm-12">
    <ul class="ta-PrimaryNavigationLinks" style="float: left;">
    </ul>
  </div>
  <div class="col-md-6 col-sm-12">
    <ul class="ta-PrimaryNavigationLinks" style="float: right;">
      <li><a href="#">Trade Application</a></li>
      <li><a href="#">Vendor Application</a></li>
    </ul>
  </div>
</div>