<div class="row ta-CustomerNav">
  <div class="col-md-6 col-sm-12 ta-CustomerNavLeft">
    <ul class="ta-CustomerMenu">
      <li><a href="http://tandemarbor.com/pages/customer-service">Customer Service</a></li>
      <li><a href="http://tandemarbor.com/pages/about-us">About</a></li>
      <li><a href="https://www.tandemarbor.com">Return to TandemArbor.com</a></li>
    </ul>
    <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to 'Log in', new_user_session_path %>
    <% end %>
  </div>
  <div class="col-md-6 col-sm-12 ta-CustomerNavRight">
    <ul class="ta-CustomerMenu">
      <li><a href="http://tandemarbor.com/pages/customer-service">Avant Blog</a></li>
      <li><a href="http://tandemarbor.com/pages/very-personal-decorator">Very Personal Decorator</a></li>
      <li><a href="http://tandemarbor.com/pages/factory">Factory</a></li>
      <li><a href="http://tandemarbor.com/pages/curate">Curate</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 ta-HeaderLogo">
    <a href="http://www.tandemarbor.com">
      <img style="width: 277px; height: 88px;" id="logoImg" src="https://tandemarbor.azureedge.net/navigationimages/logo-stopped.png" data-status="still" alt="" />
    </a>
  </div>
</div>
<div class="row ta-PrimaryNavigation">
  <div class="col-md-6 col-sm-12">
    <ul class="ta-PrimaryNavigationLinks" style="float: left;">
    </ul>
  </div>
  <div class="col-md-6 col-sm-12">
    <ul class="ta-PrimaryNavigationLinks" style="float: right;">
      <!--<li><%#= link_to "Trade Application", trade_signup_path %></li>-->
      <li><%= link_to "Vendor Application", vendor_signup_path %></li>
    </ul>
  </div>
</div>