<h1>Hello <%= @user.email %></h1>
<div>
  <%= link_to "Update Onboarding Form", edit_board_path(@board_user) if @board_user %>
  <%= link_to "Update Vendor Form", edit_trade_path(@trade_user) if @trade_user %>
</div>
