<div class="form-group nested-fields">
  <div class="field">
    <%= f.label :name, "Brand Name:", :class => "col-lg-2 col-md-3 control-label" %>
  </div>
  <div class="col-lg-10 col-md-9 field">
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="brand_name">
    <%= link_to_remove_association "Remove", f, class: "btn btn-danger remove_brand_js" %>
  </div>
</div>