<div class="form-group nested-fields">
  <div class="field">
    <%= f.label :name, "Product Type:", :class => "col-lg-2 col-md-3 control-label" %>
  </div>
  <%
     @grouped_options = {
             'FURNITURE - SEATING' => ['SOFAS & LOVESEATS', 'SECTIONALS', 'SLEEPERS & DAYBEDS', 'ACCENT CHAIRS', 'DINING CHAIRS', 'DESK CHAIRS', 'CHAISES, SETTEES', 'BENCHES, OTTOMANS & POUFS', 'BAR & COUNTER', 'STOOLS'],
             'FURNITURE - SHELVING & CABINETS' => ['ARMOIRES & CABINETS', 'BAR STORAGE & CARTS', 'SIDEBOARDS & HUTCHES', 'MEDIA CONSOLES', 'SHELVES & BOOKCASES'],
             'FURNITURE - TABLES' => ['DINING TABLES', 'BAR & COUNTER TABLES', 'COCKTAIL & COFFEE TABLES', 'CONSOLE TABLES', 'SIDE TABLES', 'TRUNKS', 'DESKS'],
             'FURNITURE - BEDROOM FURNITURE' => ['BED FRAMES', 'HEADBOARDS', 'MATTRESSES', 'NIGHTSTANDS', 'DRESSERS'],
             'FURNITURE - BATH FURNITURE' => ['ÉTAGÈRES & CABINETS', 'MIRRORS', 'VANITIES & SINKS', 'TUBS'],
             'FURNITURE - OFFICE FURNITURE' => ['DESKS', 'CHAIRS', 'OFFICE STORAGE'],
             'FURNITURE - OUTDOOR FURNITURE' => ['SOFAS & LOVESEATS', 'SECTIONALS', 'LOUNGERS', 'ACCENT CHAIRS', 'COFFEE TABLES', 'DINING CHAIRS', 'DINING & BAR TABLES', 'STOOLS'],

             'KITCHEN & TABLETOP - APPLIANCES' => ['REFRIGERATOR', 'OVENS', 'COOKTOPS', 'RANGES', 'DISHWASHERS', 'HOODS', 'FITTINGS'],
             'KITCHEN & TABLETOP - ACCESSORIES' => ['STEP STOOLS + LADDERS', 'KNOBS & HANDLES', 'STORAGE', 'TRASHCANS'],
             'KITCHEN & TABLETOP - COOKWARE, BAKEWARE & TOOLS' => ['CUTLERY & PREP', 'BAKEWARE', 'POTS & PANS', 'COOKING TOOLS', 'CANISTERS & JARS', 'DISH TOWELS, APRONS & MITTS', 'GOURMET'],
             'KITCHEN & TABLETOP - TABLETOP' => ['PLATES', 'BOWLS', 'MUGS & CUPS', 'STEMWARE', 'GLASSWARE', 'FLATWARE'],
             'KITCHEN & TABLETOP - SERVEWARE' => ['PLATTERS & TRAYS', 'COFFEE & TEA', 'SALT & PEPPER', 'SERVING BOWLS', 'SERVING UTENSILS', 'PITCHERS & JUGS', 'CHEESE BOARDS'],
             'KITCHEN & TABLETOP - ENTERTAINING' => ['COCKTAIL PLATES', 'COASTERS', 'CHARGERS', 'SERVING TRAYS', 'ACCESSORIES'],
             'KITCHEN & TABLETOP - TABLE LINENS' => ['NAPKINS', 'PLACEMATS', 'TABLECLOTHS & RUNNERS', 'NAPKIN RINGS'],
             'KITCHEN & TABLETOP - BARWARE' => ['COCKTAIL GLASSES', 'PITCHERS & DECANTERS', 'BAR ACCESSORIES'],

             'BED & BATH - BED LINENS' => ['DUVET COVERS & SHAMS', 'SHEETING', 'QUILTS & COVERLETS'],
             'BED & BATH - BEDDING ACCESSORIES' => ['THROWS & BLANKETS', 'PILLOW INSERTS', 'DECORATIVE PILLOWS BATH LINENS', 'TOWELS', 'BATH RUGS', 'SHOWER CURTAINS'],
             'BED & BATH - BATH FITTINGS' => ['WALL MOUNTED HARDWARE', 'VANITIES & WALL SHELVES', 'KNOBS, HOOKS & PULLS', 'FAUCETS & FITTINGS'],
             'BED & BATH - BATH ACCESSORIES' => ['COUNTERTOP ACCESSORIES', 'COUNTERTOP MIRRORS', 'BATH STORAGE', 'SHOWER BASKETS', 'SOAP & LOTION COLLECTIONS'],

             'LIGHTING - CEILING' => ['CHANDELIERS', 'PENDANTS', 'FLUSHMOUNTS', 'CEILING FANS'],
             'LIGHTING - LAMPS' => ['FLOOR LAMPS', 'TABLE LAMPS'],
             'LIGHTING - WALL' => ['WALL SCONCES', 'BATH SCONCES', 'PICTURE LIGHTS'],
             'LIGHTING - OUTDOOR' => ['OUTDOOR PENDANTS', 'OUTDOOR SCONCES', 'OUTDOOR FLUSHMOUNTS', 'STRING LIGHTS'],
             'LIGHTING - LIGHTING ACCESSORIES' => ['SHADES', 'LIGHTBULBS', 'SWITCH PLATES', 'LIT DÉCOR'],

             'RUGS - RUGS BY STYLE' => ['HIDES, SKINS & LEATHER', 'NATURAL FIBER, SISAL & TEXTURE', 'PATTERN', 'SHAG', 'SOLIDS', 'SILK', 'FLATWEAVE', 'ANTIQUE & VINTAGE', 'RUG ACCESSORIES'],

             'DÉCOR - OBJECTS' => ['BOOKENDS', 'BOOKS', 'CANDLES & CANDLE HOLDERS', 'CLOCKS', 'FRAMES', 'LETTERS & NUMBERS', 'OBJECTS', 'VASES', 'VESSELS & TRAYS'],
             'DÉCOR - MIRRORS' => ['FLOOR MIRRORS', 'WALL MIRRORS'],
             'DÉCOR - WINDOWS' => ['DRAPERY', 'SHADES', 'BLINDS', 'HARDWARE'],
             'DÉCOR - OFFICE & STORAGE' => ['BASKETS & TOTES', 'SHELVING', 'DESK ACCESSORIES', 'BOXES'],
             'DÉCOR - WALL DÉCOR' => ['ARTWORK', 'WALL CARVINGS/PLAQUES', 'DISPLAY SHELVES'],
             'DÉCOR - HEARTH' => ['SCREENS', 'TOOLS & ACCESSORIES'],
             'DÉCOR - PILLOWS & THROWS' => ['PILLOWS', 'PILLOW INSERTS', 'THROWS'],
             'DÉCOR - SMALL FURNITURE' => ['BAR CARTS', 'COAT RACKS', 'LUGGAGE RACKS', 'LADDERS & SCREENS', 'WALL SHELVING'],
             'DÉCOR - HARDWARE' => ['DOORBELLS', 'HINGES & LATCHES', 'HOOKS', 'KNOBS', 'KNOCKERS', 'MAILBOXES', 'NUMBERS', 'PULLS, HANDLES & KNOBS', 'REGISTER COVERS', 'SWITCH PLATES'],
             'DÉCOR - FABRIC BY THE YARD' => ['FABRIC BY THE YARD'],

             'OUTDOOR - OUTDOOR FURNITURE' => ['SOFAS & LOVESEATS', 'SECTIONALS', 'LOUNGERS', 'ACCENT CHAIRS', 'COFFEE TABLES', 'DINING CHAIRS', 'DINING & BAR TABLES', 'STOOLS'],
             'OUTDOOR - OUTDOOR DÉCOR' => ['FOUNTAINS', 'GARDEN OBJECTS', 'TOPIARIES', 'URNS & PEDESTALS'],
             'OUTDOOR - FIRE & HEAT' => ['FIREPLACE & PITS', 'FIRE ACCESSORIES', 'OUTDOOR HEATERS', 'FIRE & HEAT COVERS', 'GRILLS & OVENS'],
             'OUTDOOR - OUTDOOR LIGHTING' => ['PENDANTS', 'SCONCES', 'FLUSHMOUNTS', 'STRING LIGHTS'],
             'OUTDOOR - UMBRELLAS' => ['UMBRELLAS', 'UMBRELLA STANDS', 'UMBRELLA COVERS'],
             'OUTDOOR - OUTDOOR ACCESSORIES' => ['COVERS', 'CUSHIONS', 'PILLOWS', 'PLANTERS', 'DOORMATS']
     }
  %>
  <div class="col-lg-10 col-md-9">
    <%= f.select :name, grouped_options_for_select(@grouped_options), {:prompt => "Select..."}, {class: "form-control requires", id: "product_type-select"} %>
  </div>
  <div class="field">
    <div class="col-lg-2 col-md-3 control-label"></div>
  </div>
  <div class="product_type col-lg-10 col-md-9 field remove_mt">
    <%= link_to_remove_association "Remove", f, class: "btn btn-danger remove_another_product_type_js" %>
  </div>
</div>
