<div class="form-group nested-fields">
  <div class="col-lg-6 col-md-9">
    <%= f.select :name, grouped_options_for_select(@grouped_options), {}, {:class => "form-control requires"} %>
  </div>
  <div class="product_type">
    <%= link_to_remove_association "Remove", f, class: "btn btn-danger remove_another_product_type_js" %>
  </div>
</div>
