<div class="form-group nested-fields">
  <div class="col-lg-10 col-md-9 field">
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="another_carrier">
    <%= link_to_remove_association "remove", f, class: "btn btn-danger remove_another_carrier_js" %>
  </div>
</div>