<p>Hi <%= @vendor.first_name %>,</p>

<div>
  <p>Thank you for your interest in the Tandem Arbor Trade Program. We are in the process of reviewing your information and will reach out once you are approved.</p>

  <p>
    Members approved for our Trade Program are eligible for a 20% discount off of our retail prices, with shipping at $150.00.
    If you are interested in a particular style or piece, please feel free to reach out to us at trade@tandemarbor.com with more information and we will be glad to assist.
  </p>
  <p>Thank you for your interest! We look forward to helping you.</p>
</div>