<h3>Hi <%= @trade.first_name %>,</h3>

<p>
  Thank you for your interest in selling your products on Tandem Arbor.com!
  We are pleased to inform you that you have been approved to offer your products on our site.
</p>
<p>
  Your login information can be found below. In order to proceed, you must submit a signed Vendor Agreement document,
  as well as complete the Onboarding Application, before we can begin to review and approve product.
  Your login information can be found below:
</p>

<p>Username/Email: <%= @user.email %></p>
<p>Password: <%= @user.pas_decrypt %></p>
<p>Login: https://vendors.arborgentry.com/users/sign_in</p>

<p>
  Once on your landing page, please review the remaining steps to continue the application process.
  If you have any questions, please do not hesitate to reach out to us at <a href="vendors@tandemarbor.com">vendors@tandemarbor.com</a> .
</p>


Thank you,

Tandem Arbor
www.tandemarbor.com