<p>Hi <%= @trade.first_name %>,</p>

<div>
  <p>Thank you for your interest in the Tandem Arbor Vendor Program. We are in the process of reviewing your information and will reach out once you are approved.</p>

  <p>
    If you have any questions, or would like more information,
    please feel free to reach out to us at <a href="vendors@tandemarbor.com">vendors@tandemarbor.com</a> and we will be glad to assist.
  </p>
  <p>Thank you for your interest!</p>
  <p>Tandem Arbor</p>
</div>