.container {
  .home_container {
    width: 80%;
    margin: 0 auto;
    .top_block {
      .home_subject {
        font-family: 'Playfair Display';
        font-size: 30px;
        letter-spacing: 1px;
        padding-bottom: 3px;
        font-weight: bold;
      }
      .home_banner {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 25px;

        .home_banner_span {
          font-size: 22px;
          font-weight: bold;
        }
      }
    }
    .step_blocks {
      font-family: 'Playfair Display';
      .step_block {
        overflow: hidden;
        height: 100px;
        margin-bottom: 25px;

        .left_block {
          float: left;
          height: 100%;
          width: 100px;
          border: 4px solid #d5d8e4;

          .step {
            height: 32px;
            width: 100%;
            text-align: center;
            background: #d5d8e4;
            display: block;
            color: white;
            font-size: 20px;
            font-weight: bold;
          }
          .number {
            text-align: center;
            font-size: 36px;
            font-weight: bold;

            p {
              font-weight: normal;
              font-size: 25px;
              margin: -16px;
              span {
                font-size: 50px;
              }
            }
          }
        }
        .content {
          float: left;
          height: 100%;
          width: 80%;
          border: 4px solid #d5d8e4;
          border-left:  none;

          .content_text {
            padding: 10px;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 1px;
            margin: 0;
            height: 100%;

            a {
              font-weight: bold;
            }
          }
        }
        .right_block {
          float: left;
          height: 100%;
          width: 40px;

          .block_center {
            height: 50px;
            background: #d5d8e4;
            margin-top: 25px;

            .fa-play {
              margin-top: 12px;
            }
            .fa-play:before {
              color: white;
              font-size: 26px;
              margin: 10px;
            }
          }
        }
      }
      .disabled_block {
        pointer-events: none;
        opacity: 0.5;
      }
    }
    .contact {
      text-align: center;
      font-size: 18px;
      line-height: 26px;
    }
  }
  .about_page {
    .about {
      .about_banner {
        font-size: 17px;
        line-height: 25px;
        .about_span {
          font-size: 18px;
          font-weight: bold;
        }
      }
      .links {
        padding-top: 20px;
        overflow: hidden;
        .link_tandemarbor {
          float: left;
          .link_style {
            font-style: italic;
            font-weight: normal;
            font-size: 15px;
          }
        }
        .link_arborgentry {
          float: right;
          .link_style {
            font-style: italic;
            font-weight: normal;
            font-size: 15px;
          }
        }
      }
    }
    .offerings {
      .title_offerings {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        line-height: 26px;
        padding: 15px 0 15px;

        .about_span {
          font-size: 18px;
          font-weight: bold;
        }
      }
      .about_banner {
        font-size: 17px;
        line-height: 25px;
        .about_span {
          font-size: 18px;
          font-weight: bold;
        }
      }
      .about_customers {
        padding-top: 20px;
      }
    }
    .policies {
      .about_banner {
        font-size: 17px;
        line-height: 25px;
        padding-bottom: 25px;
        .about_span {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    .procedures {
      .about_banner {
        font-size: 17px;
        line-height: 25px;
        .about_span {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
  .product_categories_page {
    .lists {
      margin: 0 auto;
      width: 100%;
      text-align: center;

      .list {
        display: inline-block;
        vertical-align: top;
        width: 24%;
        text-align: left;

        .list_title {
          font-weight: bold;
        }
        .list_level_1 {
          padding: 0;
          .li_style_type_not {
            list-style-type: none;
          }
          .list_level_2 {
            padding: 0;
          }
        }
      }
    }
  }
}
