.container {
  .form_container {
    padding-top: 20px;
  }
  .form-group {
    padding-top: 10px;
    label {
      padding-top: 10px;
    }
  }
  .submit_log_in {
    input {
      margin: 0  0 10px 10px;
    }
  }
}